<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Shop1</key>
	<dict>
		<key>name</key>
		<string>Đồng hồ nữ chạm rỗng Binger số La Mã</string>
		<key>price</key>
		<string>2.499.000đ</string>
		<key>images</key>
		<array>
			<string>shop1-0</string>
			<string>shop1-1</string>
			<string>shop1-2</string>
			<string>shop1-3</string>
			<string>shop1-4</string>
		</array>
		<key>content</key>
		<string>- Đồng hồ chạm rỗng Binger nam kim màu La Mã, phong cách dẫn đầu xu hướng, dẫn đầu thành công; thể hiện đẳng cấp nam giới, sự trưởng thành nhưng không mất đi sự thời trang.
- Mặt kính cao cấp có độ cứng cao, chịu lực tốt, chống trầy xước, chống thấm nước.
- Vỏ máy bằng thép không gỉ 316L, mạ điện phủ màu, sáng bóng, chịu nhiệt cao, không phai màu, không kích ứng da.
- Dây đeo bằng thép không gỉ, sử dụng công nghệ xi mạ chân tỉ mỉ, bền màu, an toàn với da.
- Máy cơ tự động chạy giờ chuẩn xác, tính năng ổn định.
- Công nghệ chống nước 3ATM: đáp ứng nhu cầu rửa tay, đi mưa, rửa xe...</string>
	</dict>
	<key>Shop2</key>
	<dict>
		<key>name</key>
		<string>Đồng hồ nam siêu mỏng Bestdon BD9951AG - cỡ vừa</string>
		<key>price</key>
		<string>1.499.000đ</string>
		<key>images</key>
		<array>
			<string>shop2-0</string>
			<string>shop2-1</string>
			<string>shop2-2</string>
			<string>shop2-3</string>
			<string>shop2-4</string>
			<string>shop2-5</string>
			<string>shop2-6</string>
		</array>
		<key>content</key>
		<string>Nhãn hàng: Bestdon Thụy Sỹ
 
Loại đồng hồ: Quartz
 
Giới tính: Nam
 
Chất liệu quai: Da
 
Chất liệu vỏ: Thép không gỉ
 
Chống nước: 3ATM
 
Hình dáng mặt: Tròn
 
Kiểu khóa: Khóa gài
 
Chức năng khác: Lịch
 
Kích thước
                      Loại nhỏ: Đường kính 34mm, dày 6mm
                      Loại vừa: Đường kính 38mm, dày 6mm
 
Bảo hành: 1 năm</string>
	</dict>
	<key>Shop3</key>
	<dict>
		<key>name</key>
		<string>Đồng hồ cơ nam Bestdon chống thấm nước BD7717GVTB</string>
		<key>price</key>
		<string>3.499.000đ</string>
		<key>images</key>
		<array>
			<string>shop3-0</string>
			<string>shop3-1</string>
			<string>shop3-2</string>
			<string>shop3-3</string>
			<string>shop3-4</string>
			<string>shop3-5</string>
			<string>shop3-6</string>
			<string>shop3-7</string>
			<string>shop3-8</string>
		</array>
		<key>content</key>
		<string>Nhãn hàng: Bestdon Thụy Sỹ
 
Loại đồng hồ: Automatic
 
Giới tính: Nam
 
Chất liệu quai: Thép vofram
 
Chất liệu vỏ: Thép không gỉ
 
Chống nước: 3ATM
 
Hình dáng mặt: Tròn
 
Kiểu khóa: Khóa bướm đôi
 
Kích thước mặt: Rộng 41mm; Dầy: 11,5mm
 
Bảo hành: 2 năm
 
Độ sai lệch: 30s/ngày</string>
	</dict>
	<key>Shop4</key>
	<dict>
		<key>name</key>
		<string>Đồng hồ cơ tự động nữ Aiers B202L</string>
		<key>price</key>
		<string>2.499.000đ</string>
		<key>images</key>
		<array>
			<string>shop4-0</string>
			<string>shop4-1</string>
			<string>shop4-2</string>
			<string>shop4-3</string>
			<string>shop4-4</string>
			<string>shop4-5</string>
			<string>shop4-6</string>
		</array>
		<key>content</key>
		<string>- Kiểu đồng hồ cơ tự động, kiểu mặt tròn, thiết kế thời trang mang đến vẻ sang trọng, tinh tế và quyến rũ của phái đẹp.
- Máy cơ tự động được chạm rỗng, hệ thống được gắn đá ru-bi chống mài mòn, sang trọng, đẳng cấp, ổn định, chuẩn xác, nhìn thấu bên trong.
- Thiết kế hoa văn hình hoa cúc, cùng với máy cơ tự động mạ vàng kiểu hoa hồng tạo vẻ cổ điển hoàn mĩ, trang nhã, quyến rũ.
- Mặt kính đá sapphire có độ cứng cao, dày dặn, chống trầy xước hiệu quả.
- Khóa bướm được làm bằng chất liệu thép chống gỉ dễ sử dụng, nữ tính, bền đẹp.
- Nút chỉnh giờ hình vương miện, mạ màu vàng tây có rãnh tăng độ bám, kiểu cổ điển tinh tế, không phai màu.
- Dây đeo da nhập khẩu, họa tiết da cá sấu rất mềm mại, chống bong tróc, thoáng khí.
- Chống thấm nước ở mức 5 ATM cho phép bạn sử dụng trong các hoạt động hàng ngày như đi mưa, tắm, rửa tay... rất an toàn.</string>
	</dict>
	<key>Shop5</key>
	<dict>
		<key>name</key>
		<string>Đồng hồ điện tử unisex Skmei SK – 0929</string>
		<key>price</key>
		<string>199.000đ</string>
		<key>images</key>
		<array>
			<string>shop5-0</string>
			<string>shop5-1</string>
			<string>shop5-2</string>
			<string>shop5-3</string>
			<string>shop5-4</string>
			<string>shop5-5</string>
		</array>
		<key>content</key>
		<string>- Đồng hồ sử dụng bộ máy chất lượng cao, chạy giờ chuẩn xác, pin lithium Nhật Bản thân thiện với môi trường cho tính chống nước 3ATM.
- Mặt kính nhựa trong suốt cao cấp có khả năng chống trày xước hiệu quả mang đến vẻ đẹp theo thời gian.
- Thiết kế kiểu dáng mới lạ cùng chức năng hiển thị hai múi giờ khác nhau mang tới bạn phong cách thể thao năng động.</string>
	</dict>
	<key>Shop6</key>
	<dict>
		<key>name</key>
		<string>Đồng hồ thể thao thời trang Skmei 0905</string>
		<key>price</key>
		<string>199.000đ</string>
		<key>images</key>
		<array>
			<string>shop6-0</string>
			<string>shop6-1</string>
			<string>shop6-2</string>
			<string>shop6-3</string>
			<string>shop6-4</string>
		</array>
		<key>content</key>
		<string>Áo sơ mi nự Hàn Quốc đang là xu hướng thời trang được các bạn gái vô cùng yêu thích. Phong cách kiểu dáng Hàn Quốc giúp cho các nàng trở nên cá tính, năng động cún hút duyên dáng thanh lịch nơi công sở. 
Facebook: https://www.facebook.com/ThoiTrangXachTayHanQuoc</string>
	</dict>
</dict>
</plist>
